.grid_forside {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.forside {
  margin-top: 45%;
  margin-bottom: 20%;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.grid_season {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media (min-width: 700px) {
  .grid_forside {
    display: grid;
    grid-template-columns: 1fr;
  }
  .forside {
    margin-top: 13%;
    margin-bottom: 30%;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }
  .grid_planteside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 71px;
    padding-top: 5%;
  }
}

.grid_season {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: end;
  margin-bottom: 5%;
  gap: 5%;
}
