.grid_forside {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.forside {
  margin-top: 45%;
  margin-bottom: 20%;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.grid_season {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media (min-width: 700px) {
  .grid_forside {
    display: grid;
    grid-template-columns: 1fr;
  }
  .forside {
    margin-top: 13%;
    margin-bottom: 30%;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }
}
/********** animation **********/
#logoani {
  width: 30%;
  position: absolute;
  top: 20%;
  left: 35%;
}

.forside_bg_m_logo {
  background-color: white;
}
.fade_in {
  animation-name: fade_in_kf;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes fade_in_kf {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
