img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  max-width: 1200px;
  margin: 0 auto;
}

/*************** FONT *****************/
h1 {
  font-family: 'Corinthia', cursive;
}

p {
  font-family: 'Cutive Mono', monospace;
}

/************** Forside ***************/
/*header*/
@media (min-width: 700px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
