img {
  width: 100%;
  height: auto;
  display: block;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

/*************** FONT *****************/
h1 {
  font-family: "Corinthia", cursive;
}

p {
  font-family: "Cutive Mono", monospace;
}

/************** Forside ***************/
/*header*/
@media (min-width: 700px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/************** billeder************/
.efteraar_img {
  background-image: url(/billeder/efterår.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.foraar_img {
  background-image: url(/billeder/forår.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.sommer_img {
  background-image: url(/billeder/sommer.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.vinter_img {
  background-image: url(/billeder/vinter.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
